/*fonts*/
@font-face {
	font-family: 'Showtime';
	src: url('../fonts/Showtime.ttf');
}

@font-face {
	font-family: 'Eastside';
	src: url('../fonts/UpperEastSide.ttf');
}

@font-face {
	font-family: 'Vonique';
	src: url('../fonts/Vonique 92 Regular.otf');
}

/*general*/
html {
  height: 100%;
}

body {
  background-image: url(../img/gotham.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.well {
   background-color: rgba(245, 245, 245, 0.8);
}

.initially-hidden {
  display: none;
}
/*header*/
#header-logo {
  max-width: 80%;
  margin-bottom: -14%;
  margin-left: 10%;
}

#header-title {
  margin: 0 0 2%;
  text-align: center;
  padding: 0;
  font-family: Eastside;
  font-size: 110px;
}

/*//////////////////////screens//////////////////////////////////////*/
/*pricing*/
.pricing {
  font-size: 70%;
  color: grey;
  font-style: italic;
}
#order-screen {
  text-align: center;
}

/*//////////////////pizza screen/////////////*/
/*topping images*/
#pizza-screen {
  position: relative;
  top: 0;
  left: 0;
}
#pizza-pic {
  position: relative;
  top: 0;
  left: 0;
}
#bacon-pic {
  position: absolute;
  top: 50px;
  left: 70px;
}
#sausage-pic {
  position: absolute;
  top: 30px;
  left: 70px;
}
#pep-pic {
  position: absolute;
  top: 30px;
  left: 70px;
}
.topping-pic {
  width: 50%;
  padding-left: 15%;
  padding-top: 10%;
}

/*pizza size*/
.pizza-pic-small {
  width: 60%;
  margin-left: 20%;
}

.pizza-pic-medium {
  width: 65%;
  margin-left: 17.5%;
}

.pizza-pic-large {
  width: 70%;
  margin-left: 15%;
}


#purchase-screen {
  text-align: center;
}

h1 {
  font-family: Vonique;
}
