@font-face {
	font-family: 'lights';
	src: url('../fonts/Showtime.ttf');
}

.initially-hidden {
  display: none;
}

/*header*/
#header-logo {
  max-width: 100%;
  margin-bottom: -15%;
}

.jumbotron {
  margin: 0 0 8%;
  text-align: center;
  padding: 0;
}
